//- common website layout
doctype html
html
  head
    link(href='/css/main.css', rel='stylesheet')
    block title
      title UW Huskyhelp
  body
    .header
      h1 Huskyhelp
    block main
    .footer
      .footercontent footer
