//- common website layout
doctype html
html
  head
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    block title
      title UW Huskyhelp
   body#skrollr-body
    .navbar(data-0='background-color:rgba(0,0,0,0); padding: 15px 0px; box-shadow: 0 0 0px black;',data-150='background-color:rgba(0,0,0,0.8); padding: 0px 0px; box-shadow: 0 0 6px black;')
      .nav-content(data-0='color:rgb(0,0,0);', data-70='color:rgb(255,255,255);')
        h1
          a(href='/') Huskyhelp
        a(href='http://forum.huskyhelp.org') Forum
        a(href='#') About
        a(href='#') Contact
    block main
    script(type='text/javascript', src='/js/skrollr.js')
    script(type='text/javascript').
      skrollr.init({
        smoothScrolling: false
      });
