//- common website layout
doctype html
html
  head
    link(href='/css/main.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    block title
      title UW Huskyhelp
    script(type='text/javascript', src='/js/lib/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/main.js')
   body#skrollr-body
    .navbar
      .nav-content
        h1
          a(href='/') Huskyhelp
        a(href='http://forum.huskyhelp.org') Forum
        a(href='http://blog.huskyhelp.org') Blog
        a(href='#') About
        a(href='#') Contact
        a(href='http://huskyhelp.tk') Old Website
    block main
    script(type='text/javascript', src='/js/skrollr.js')
    script(type='text/javascript').
      if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
        skrollr.init({
          smoothScrolling: false,
          forceHeight: false
        });
      }
      else {
        $('.navbar').addClass('navbar-fallback')
      }
