* {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 1100px;
  font-family: "Open Sans", sans-serif;
  background-color: #4B4B4B;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color:rgba(0,0,0,0);
  padding: 15px 0;
  box-shadow: 0 0 0 black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar.invert {
  background-color:rgba(0,0,0,0.8);
  padding: 0px 0px;
  box-shadow: 0 0 6px black;
}

.navbar .nav-content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0,0,0);
}

.navbar .nav-content.invert {
  color: rgb(255,255,255);
}

.nav-content a {
  padding: 10px;
}

.nav-content>a:hover{
  border-bottom: 2px solid gray;
}

.navbar h1 {
  display: inline-block;
  margin: 5px;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  height: 800px;
  box-shadow: 0 0 20px black;
}

.container {
  width: 700px;
  margin: 0px auto;
}

.container ul {
  margin-top: 15px;
  margin-left: 25px;
}

#husky {
  background-image: url("/img/husky.jpg");
}

#intro, #text, #footer {
  height: 200px;
  padding: 50px;
  background-color: rgb(5,5,10);
  color: white;
}

#lib {
  background-image: url("/img/suzzalo.jpg");
}

#white {
  background-color: rgb(200, 200, 200);
}

#quad {
  background-image: url("/img/quad.jpg");
}

#husky, #lib, #quad {
  background-position: center;
}

#footer {
  height: 200px;
}

.info {
  display: inline-block;
  margin: 270px 0px 0px 200px;
  background-color: rgb(10, 5, 40);
  opacity: 0.8;
  padding: 60px;
  border-radius: 5px;
  color: white;
}

.info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.navbar-fallback {
  background-color: rgba(0,0,0,0.8);
  padding: 0;
  box-shadow: 0 0 6px black;
  color: white;
}

.btn-row {
  margin-top: 30px;
}

.btn-row a {
  margin-right: 20px;
  padding: 5px 13px;
  font-size: 13px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.05);
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -ms-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

.btn-row a:hover {
  background-color: rgba(255,255,255,0.2);
}
