extends ../layout.jade

block title
  title index

block main
  .content
    .section#husky(data-60='background-position:50% -2px;', data-800='background-position:50% -200px;')
      .info#header-info
        .container
          h2 XXXXXXXXXXXXXX
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxx
    .section#intro
      .container
        h2 XXXXXXXXXXXXXX
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
    .section#lib(data-800='background-position:50% -2px;', data-1500='background-position:50% -200px;')
      .info#middle-info
        .container
          h2 XXXXXXXXXXXXXX
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxx
          p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxx
    .section#text
      .container
        h2 XXXXXXXXXXXXXX
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
    .section#quad(data-1500='background-position: 50% -100px', data-2100='background-position: 50% -320px')
       .info#bottom-info
         .container
           h2 XXXXXXXXXXXXXX
           p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
           p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
           p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxx
           p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxx
    .section#footer
      .container
        h2 XXXXXXXXXXXXXX
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxxxxxx
        p xxxxxxxxxxxxxxxxxxx,xxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxxxxxx
